<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wls.manage.dao.CommentMapper">

	<insert id="insertComment" parameterType="CommentEntity"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `comment` (
		`commenterid`,
		`commentid`,
		`flag`,
		`content`,
		`commenttime`
		)
		VALUES
		(
		#{commenterid},
		#{commentid},
		#{flag},
		#{content},
		now()
		);

	</insert>

	<delete id="deleteByCommentID">
		delete from comment where id =
		#{commentID}
	</delete>

	<select id="findCommentsByCommenterId" parameterType="map"
		resultType="CommentEntity">
		SELECT *
		FROM `comment` WHERE `commenterid` =
		#{commenterID}
		order by `addTime` desc
	</select>
	
	<select id="findCommentsByCommentId" parameterType="map"
		resultType="CommentEntity">
		SELECT *
		FROM `comment` WHERE `commentid` =
		#{commentID} AND `flag` =
		#{flag}
		order by `addTime` desc
	</select>

</mapper>