<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wls.manage.dao.EducateMapper">

    <insert id="insertEducate" parameterType="EducateEntity">
        INSERT INTO `educate`(
		`starttime`,
		`endtime`,
		`school`,
		`degree`,
		`fulltime`,
		`major`,
		`describe`,
		`userid`
		)
		VALUE 
		(
		#{starttime},
		#{endtime},
		#{school},
		#{degree},
		#{fulltime},
		#{major},
		#{describe},
		#{userid}
		)
    </insert>
    
    <update id="updateEducate" parameterType="EducateEntity" >
        update educate
        <set >
            <if test="starttime != null" >
                starttime = #{starttime},
            </if>
            <if test="endtime != null" >
                endtime = #{endtime},
            </if>
            <if test="school != null" >
                school = #{school},
            </if>
            <if test="degree != null" >
                degree = #{degree},
            </if>
            <if test="fulltime != null" >
                fulltime = #{fulltime},
            </if>
            <if test="major != null" >
                major = #{major},
            </if>
             <if test="describe != null" >
                describe = #{describe}
            </if>
        </set>
        where id = #{id}
    </update>
	
     <select id="findEducateByUserId" parameterType="map" resultType="EducateEntity">
		SELECT *
		FROM `educate` WHERE `userid` = #{userID}
	</select>
	
	<select id="findEducateByID" parameterType="map" resultType="EducateEntity">
		SELECT *
		FROM `educate` WHERE `id` = #{educateID}
	</select>
	
	<delete id="deleteEducate" parameterType="map">
	    DELETE FROM educate WHERE `id` = #{educateID}
	</delete>
	
	
</mapper>