<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wls.manage.dao.HonorMapper">

    <insert id="insertHonor" parameterType="HonorEntity">
        INSERT INTO `honor`(
		`starttime`,
		`endtime`,
		`honor`,
		`userid`
		)
		VALUE 
		(
		#{starttime},
		#{endtime},
		#{honor},
		#{userid}
		)
    </insert>
    
    <update id="updateHonor" parameterType="HonorEntity" >
        update honor
        <set >
            <if test="starttime != null" >
                starttime = #{starttime},
            </if>
            <if test="endtime != null" >
                endtime = #{endtime},
            </if>
            <if test="honor != null" >
                honor = #{honor},
            </if>
        </set>
        where id = #{id}
    </update>
	
     <select id="findHonorByUserId" parameterType="map" resultType="HonorEntity">
		SELECT *
		FROM `honor` WHERE `userid` = #{userID}
	</select>
	
	<select id="findHonorByID" parameterType="map" resultType="HonorEntity">
		SELECT *
		FROM `honor` WHERE `id` = #{honorID}
	</select>
	
	<delete id="deleteHonor" parameterType="map">
	    DELETE FROM honor WHERE `id` = #{honorID}
	</delete>
	
	
</mapper>