<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wls.manage.dao.InformationMapper">

    <insert id="insertInformation" parameterType="InformationEntity">
        INSERT INTO `information`(
		`title`,
		`infocategory`,
		`imglist`,
		`coverpiclist`,
		`source`,
		`content`,
		`time`
		)
		VALUE 
		(
		#{title},
		#{infocategory},
		#{imglist},
		#{coverpiclist},
		#{source},
		#{content},
		now()
		)
    </insert>
    
    <update id="updateInformation" parameterType="InformationEntity" >
        update information
        <set >
            <if test="title != null" >
                title = #{title},
            </if>
            <if test="source != null" >
                source = #{source},
            </if>
            <if test="infocategory != null" >
                infocategory = #{infocategory},
            </if>
            <if test="imglist != null" >
                imglist = #{imglist},
            </if>
            <if test="coverpiclist != null" >
                coverpiclist = #{coverpiclist},
            </if>
            <if test="content != null" >
                content = #{content},
            </if>
        </set>
        where id = #{id}
    </update>
	
	<select id="findAllInformation" parameterType="map" resultType="InformationEntity">
         SELECT * FROM `information`
		 <where> 1=1
		    <if test="keyword != null">
		        AND title like "%"#{keyword}"%"
		    </if>
		 </where>
         order by `time` desc
    </select>
    
     <select id="findInformationByID" parameterType="map" resultType="InformationEntity">
		SELECT *
		FROM `information` WHERE `id` = #{inforID}
	</select>
	
	<select id="findInformationByCategory" parameterType="map" resultType="InformationEntity">
		SELECT *
		FROM `information` WHERE `infocategory` = #{infocategory} order by `time` desc 
	</select>
	
	<delete id="deleteInformation" parameterType="map">
	    DELETE FROM information WHERE `id` = #{inforID}
	</delete>
	
	
</mapper>