<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wls.manage.dao.JobMapper">

    <insert id="insertJob" parameterType="JobEntity">
        INSERT INTO `job`(
		`starttime`,
		`endtime`,
		`company`,
		`companysize`,
		`position`,
		`industry`,
		`describe`,
		`userid`,
		`companynature`
		)
		VALUE 
		(
		#{starttime},
		#{endtime},
		#{company},
		#{companysize},
		#{position},
		#{industry},
		#{describe},
		#{userid},
		#{companynature}
		)
    </insert>
    
    <update id="updateJob" parameterType="JobEntity" >
        update job
        <set >
            <if test="starttime != null" >
                starttime = #{starttime},
            </if>
            <if test="endtime != null" >
                endtime = #{endtime},
            </if>
            <if test="company != null" >
                company = #{company},
            </if>
            <if test="companysize != null" >
                companysize = #{companysize},
            </if>
            <if test="position != null" >
                position = #{position},
            </if>
            <if test="industry != null" >
                industry = #{industry},
            </if>
             <if test="describe != null" >
                describe = #{describe},
            </if>
            <if test="companynature != null" >
                companynature = #{companynature}
            </if>
        </set>
        where id = #{id}
    </update>
	
     <select id="findJobByUserId" parameterType="map" resultType="JobEntity">
		SELECT *
		FROM `job` WHERE `userid` = #{userID}
	</select>
	
	<select id="findJobByID" parameterType="map" resultType="JobEntity">
		SELECT *
		FROM `job` WHERE `id` = #{jobID}
	</select>
	
	<delete id="deleteJob" parameterType="map">
	    DELETE FROM job WHERE `id` = #{jobID}
	</delete>
	
	
</mapper>