<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wls.manage.dao.MessageMapper">

    <insert id="insertMessage" parameterType="MessageEntity">
        INSERT INTO `message`(
		`title`,
		`senderid`,
		`receiverid`,
		`msgcategory`,
		`content`,
		`informtime`
		)
		VALUE 
		(
		#{title},
		#{senderid},
		#{receiverid},
		#{msgcategory},
		#{content},
		now()
		)
    </insert>
    
	<select id="findAllMessage" parameterType="map" resultType="MessageEntity">
         SELECT * FROM `message`
		 <where> 1=1
		    <if test="keyword != null">
		        AND msgdata like "%"#{keyword}"%"
		    </if>
		 </where>
         order by `informtime` desc
    </select>
    
     <select id="findMessageByID" parameterType="map" resultType="MessageEntity">
		SELECT *
		FROM `message` WHERE `id` = #{msgID}
	</select>
	
	<select id="findMessageBySenderID" parameterType="map" resultType="MessageEntity">
		SELECT * FROM `message`
		WHERE `senderid` = #{senderID} order by `informtime` desc 
	</select>
	
	<select id="findMessageByReceiverID" parameterType="map" resultType="MessageEntity">
		SELECT * FROM `message`
		WHERE `receiverid` = #{receiverID} order by `informtime` desc 
	</select>
	
	<select id="findMessageByCategory" parameterType="map" resultType="MessageEntity">
		SELECT *
		FROM `message` WHERE `msgcategory` = #{msgcategory} order by `informtime` desc 
	</select>
	
	<delete id="deleteMessage" parameterType="map">
	    DELETE FROM message WHERE `id` = #{msgID}
	</delete>
	
	
</mapper>