<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wls.manage.dao.PublishMapper">

    <insert id="insertPublish" parameterType="PublishEntity">
        INSERT INTO `publish`(
		`publisher`,
		`title`,
		`pubcategory`,
		`content`,
		`schoolid`,
		`pubtime`
		)
		VALUE 
		(
		#{publisher},
		#{title},
		#{pubcategory},
		#{content},
		#{schoolid},
		now()
		)
    </insert>
    
    <update id="updatePublish" parameterType="PublishEntity" >
        update publish
        <set>
            <if test="title != null" >
                title = #{title},
            </if>
            <if test="pubcategory != null" >
                pubcategory = #{pubcategory},
            </if>
            <if test="content != null" >
                content = #{content},
            </if>
        </set>
        where id = #{id}
    </update>
	
     <select id="findPublishByUserId" parameterType="map" resultType="PublishEntity">
		SELECT *
		FROM `publish` WHERE `publisherid` = #{userID}
	</select>
	
	<select id="findPulishByID" parameterType="map" resultType="PublishEntity">
		SELECT *
		FROM `publish` WHERE `id` = #{publishID}
	</select>
	
	<delete id="deletePublish" parameterType="map">
	    DELETE FROM publish WHERE `id` = #{publishID}
	</delete>
	
	 <select id="findPublishList" parameterType="int" resultType="PublishEntity">
         SELECT * FROM `publish`
		 <where> 
			<if test="audit != null">
			    pubcategory=#{audit}
			</if>
			<if test="schoolid != null">
			    AND schoolid=#{schoolid}
			</if>
		    <if test="keyword != null">
		        AND title like "%"#{keyword}"%"
		    </if>
		 </where>
         order by `pubtime` desc
    </select>
	
</mapper>