<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wls.manage.dao.RoleMapper">

    <select id="findRoles" parameterType="map" resultType="RoleEntity">
        SELECT *
        FROM `role` 
    </select>

     <select id="findRoleById" parameterType="map" resultType="RoleEntity">
        SELECT *
        FROM `role` WHERE `id` = #{roleID}
    </select>
</mapper>