<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wls.manage.dao.SchoolMapper">

    <select id="findSchoolsByCityId" parameterType="map" resultType="School_infoEntity">
        SELECT *
        FROM `shool_info` WHERE `sh_city` = #{cityID}
    </select>

    <select id="findSchoolById" parameterType="map" resultType="School_infoEntity">
        SELECT *
        FROM `shool_info` WHERE `sh_id` = #{schoolID}
    </select>


 <select id="findSchoolList" parameterType="map" resultType="School_infoEntity">
        SELECT *
        FROM `shool_info` 
    </select>
</mapper>