<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wls.manage.dao.SkillMapper">

    <insert id="insertSkill" parameterType="SkillEntity">
        INSERT INTO `skill`(
		`skill`,
		`degree`,
		`userid`
		)
		VALUE 
		(
		#{skill},
		#{degree},
		#{userid}
		)
    </insert>
    
    <update id="updateSkill" parameterType="SkillEntity" >
        update skill
        <set>
            <if test="skill != null" >
                skill = #{skill},
            </if>
             <if test="degree != null" >
                degree = #{degree}
            </if>
        </set>
        where id = #{id}
    </update>
	
     <select id="findSkillByUserId" parameterType="map" resultType="SkillEntity">
		SELECT *
		FROM `skill` WHERE `userid` = #{userID}
	</select>
	
	<select id="findSkillByID" parameterType="map" resultType="SkillEntity">
		SELECT *
		FROM `skill` WHERE `id` = #{skillID}
	</select>
	
	<delete id="deleteSkill" parameterType="map">
	    DELETE FROM skill WHERE `id` = #{skillID}
	</delete>
	
	
</mapper>