.weilanshu {
	background: #f9f9f9;
}
.weilanshu h1, .weilanshu h2, .weilanshu h3, .weilanshu h4, .weilanshu h5, .weilanshu h6 {
	font-family: Microsoft YaHei;
	margin: 0 0 10px;
	text-transform: uppercase;
}
.weilanshu h1 {
	font-size: 23px;
}
.weilanshu h2 {
	font-size: 20px;
}
.weilanshu .content-page h2, 
.weilanshu .content-page h3, 
.weilanshu .content-page h4, 
.weilanshu .content-page h5, 
.weilanshu .content-page h6 {
	padding-top: 10px;
}
.weilanshu .content-page h3 {
	font-size: 20px;
	margin-bottom: 7px;
}
.weilanshu .content-page h4 {
	font-size: 17px;
	margin-bottom: 4px;
}
.weilanshu .content-page h5, 
.weilanshu .content-page h6 {
	font: 700 15px Microsoft YaHei;
	margin-bottom: 2px;
}

/* sidebar news */
.sidebar-news {
	background: #fff;
	padding: 15px 15px 20px;
}
.sidebar-news .item {
	width: 100%;
	overflow: hidden;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: solid 1px #eee;
}
.sidebar-news .item:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border: none;
}
.sidebar-news h2 {
	font-size: 18px;
	margin-bottom: 14px;
}
.sidebar-news img {
	width: 200px;
	height: 100px;
	float: left;
}
.sidebar-news h3 {
	font: 500 22px Microsoft YaHei;
	/*text-transform: none;*/
	margin:15px 0px 5px 215px;
}
.sidebar-news .news-info {
    color: #E84D1C;
    font: 12px Microsoft YaHei;
	margin:15px 0px 5px 215px;
}
.sidebar-news .item-pics h3 {
	font: 500 22px Microsoft YaHei;
	/*text-transform: none;*/
	margin:10px 0px 5px 0px;
}
.sidebar-news .item-pics .news-info {
    color: #E84D1C;
    font: 12px Microsoft YaHei;
	margin:5px 0px 5px 0px;
}
.sidebar-news .item-pics img {
	width: 305px;
	padding:10px 15px 10px 0px;
	height: 150px;
	float: left;
}

/* BEGIN product page */
.product-page {
	background: #fff;
	padding: 22px;
	position: relative;
	margin-right: 10px;
}
.product-main-image {
	margin-bottom: 20px;
}
.product-main-image img {
	width: 100%;
}
.product-other-images {
	text-align: left;
}
.product-other-images img {
	width: 58px;
	height: auto;
	margin: 0 12px 12px 0;
}
.product-other-images a:hover img,
.product-other-images a.active img {
	box-shadow: 0 0 0 2px #c7ced5;
}
.product-page h1 {
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 12px;
}
.price-availability-block {
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 12px;
	margin-bottom: 17px;
}
.price-availability-block .price {
	float: left;
	font-family: Microsoft YaHei;
}
.price-availability-block .price strong {
	color: #e84d1c;
	font-size: 35px;
	font-weight: normal;
}
.price-availability-block .price strong span {
	font-size: 25px;
}
.price-availability-block .price em {
	font-style: normal;
	color: #bbb;
	font-size: 17px;
}
.price-availability-block .price em span {
	font-size: 23px;
	text-decoration: line-through;
}
.price-availability-block .availability {
	float: right;
	color: #7b8a99;
}
.price-availability-block .availability strong {
	font-weight: normal;
	color: #3e4d5c;
}
.product-page .nav-tabs > li {
    margin-top: 1px;
}
.product-page-options {
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	padding: 20px 0;
	margin-bottom: 20px;
	width: 100%;
	overflow: hidden;
}
.product-page-options .pull-left {
	margin-right: 40px;
}
.product-page-options .pull-left:last-child {
	margin-right: 0;
}
.product-page-options label {
	font-weight: normal;
	text-transform: uppercase;
	color: #8e9ca8;
	font-family: Microsoft YaHei;
	float: left;
	margin-right: 10px;
	padding-top: 2px;
}
.product-page-options select.input-sm {
	float: left;
	width: auto;
	height: 26px;
}

.product-page-cart {
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 20px;
	margin-bottom: 18px;
}
.product-quantity,
.product-quantity .input-group {
	width: 70px;
	float: left;
	margin-right: 20px;
	position: relative;
}
table .product-quantity,
table .product-quantity .input-group {
	margin-right: 0;
}
.product-page-cart .btn {
	padding: 7px 20px;
	font-size: 13px;
	height: 38px;
}
.product-quantity input.form-control {
	border: none;
	background: #edeff1 !important;
	font: 300 23px Microsoft YaHei;;
	color: #647484;
	height: 38px;
	width: 50px;
	text-align: center;
	padding: 5px;
}
.product-quantity input.form-control:focus {
	border: none;
}

.product-quantity .input-group-btn {
	position: static;
}
.product-quantity .btn {
  text-align: center;
  height: 18px !important;
  width: 18px;
  padding: 0 2px 0 1px !important;
  text-align: center;
  background: #edeff1;
  border-radius: 0 !important;
  font-size: 18px !important;
  line-height: 1 !important;
  color: #616b76;
  margin: 0 !important;
  position: absolute;
  right: 0;
}
.product-quantity .quantity-up {
  top: 0;
}
.product-quantity .quantity-down {
  bottom: 0;
}
.product-quantity .btn i {
	position: relative;
	top: -2px;
	left: 1px;
}

.product-page .review {
	color: #6e7a85;
	font-family: Microsoft YaHei;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 18px;
	margin-bottom: 20px;
	font-weight: 300;
}

.product-page .rateit {
	margin-right: 27px;
	position: relative;
	top: 2px;
}
.product-page .review a {
	color: #e6400c;
}
.product-page .social-icons li a {
	background-position: 0 -38px;
	opacity: 1;
}
/* compare goods */
.compare-goods tr:first-child td.compare-info,
.compare-goods tr:first-child td.compare-item {
	background: no-repeat;
	border-bottom: 3px solid #ECEBEB;
}
.goods-data td.compare-info {
	width: 20%;
	vertical-align: middle;
	background: #F9F9F9;
}
.goods-data td.compare-info,
.goods-data td.compare-item {
	padding: 20px;
}
.compare-item {
	text-align: center;
}
.compare-item img {
	width: 100%;
	max-width: 100px;
}
.compare-item h3 {
	padding: 7px 0 4px;
	margin: 0;
}
.compare-item strong {
	color: #E84D1C;
    font-size: 21px;
    font-weight: normal;
}
.compare-item strong span {
    font-size: 17px;
}
.compare-goods .btn-primary {
	margin-right: 0;
}

.goods-data th h2 {
	font-size: 17px;
	padding: 8px 20px 0;
	margin: 0;
	font-weight: bold;
}

.goods-page .compare-item .btn-primary {
	color: #fff;
	float: none;
}
.goods-page .compare-item .btn-default {
	border: 1px solid #EDEDED;
	color: #A8AEB3;
	background: transparent;
	padding: 6px 13px;
	float: none;
	margin-top: 10px;
}
.goods-page .compare-item .btn-default:hover,
.goods-page .compare-item .btn-default:focus,
.goods-page .compare-item .btn-default:active {
	border: 1px solid #A8AEB3;
	color: #fff;
	background: #A8AEB3;
	padding: 6px 13px; 
}

.weilanshu .sidebar {
	font: 15px Microsoft YaHei;
	color: #3E4D5C;
	text-transform: uppercase;
}
.weilanshu .sidebar .list-group-item {
    background: #fff;
    padding: 8px 10px 6px;
}
/* list view sorting */
.list-view-sorting {
	margin-bottom: 20px;
}
.list-view * {
	display: none !important;
}
.list-view-sorting .pull-right {
	margin-left: 30px;
}
.list-view-sorting label {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 14px;
	color: #8e9ca8;
	font-family: Microsoft YaHei;
	float: left;
	margin-right: 10px;
	position: relative;
	top: 2px;
}
.list-view-sorting select {
	float: left;
	width: auto;
	height: 26px;
}
.list-view-sorting a {
	background: #fff;
	color: #E6400C;
	display: inline-block;
	padding: 4px 6px;
	line-height: 1;
	margin-right: -3px;
}

.content-form-page legend {
	font: 18px Microsoft YaHei;
	text-transform: uppercase;
	margin-bottom: 14px;
}