<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- Head BEGIN -->
<head>
  
  <title>蔚蓝树</title>
  <Meta http-equiv="Content-Type" content="text/html; charset=utf-8" > 
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="weilanshu" name="description">
  <meta content="weilanshu" name="keywords">
  <meta content="chenrong" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-">
  <meta property="og:url" content="-CUSTOMER VALUE-">

  <link rel="shortcut icon" href="../../assets/img/favicon.ico">

  <!-- Global styles BEGIN -->
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../assets/css/settings.css" rel="stylesheet">
  <!-- Global styles END -->

  <!-- Theme styles BEGIN -->
  <link href="../../assets/css/components.css" rel="stylesheet">
  <link href="../../assets/css/style.css" rel="stylesheet">
  <link href="../../assets/css/style-responsive.css" rel="stylesheet">
  <link href="../../assets/css/blue1.css" rel="stylesheet" id="style-color">
  <link href="../../assets/css/custom.css" rel="stylesheet">
  <link href="../../assets/css/news.css" rel="stylesheet">
  <!-- Theme styles END -->
</head>
<!--DOC: menu-always-on-top class to the body element to set menu on top -->
<body class="menu-always-on-top">
  
  <!-- Header BEGIN -->
  <div class="header header-mobi-ext">
    <div class="container">
      <div class="row">
        <!-- Logo BEGIN -->
        <div class="col-md-2 col-sm-2">
          <a class="scroll site-logo" href="#promo-block"><img src="../../assets/img/logo/logo.png" alt="蔚蓝树"></a>
        </div>
        <!-- Logo END -->
        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
        <!-- Navigation BEGIN -->
        <div class="col-md-10 pull-right">
          <ul class="header-navigation  pull-right font-transform-inherit">
            <li><a href="../../index.html">首页</a></li>
            <li><a href="news.html">资讯</a></li>
            <li class="current"><a href="geek.html">极客</a></li>
            <li><a href="post-bar.html">贴吧</a></li>
            <li><a href="my-space.html">我的</a></li>
            <li><a href="../../register.html" style="display: inline; font-size:15px;">注册</a>  |  <a href="../../login.html"style="display: inline; font-size:15px;">登录</a></li>
          </ul>
        </div>
        <!-- Navigation END -->
      </div>
    </div>
  </div>
  <!-- Header END -->
  <!--BEGIN-->
  <div class="weilanshu" style="padding-top:70px;" id="menu">
    <div class="main">
      <div class="main">
      <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12">
            <div class="content-search margin-bottom-20">
              <div class="row">
                <div class="col-md-12">
                  <form action="#">
                    <div class="input-group">
                      <input type="text" placeholder="输入关键词" class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">搜索</button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- BEGIN PRODUCT LIST -->
            <div class="row geeks-list margin-bottom-20">
                <div class="col-md-6 margin-bottom-20">
                  <div class="geek-item col-md-12">
                    <a href="" class="col-md-2 pull-left padding-left-0"><img src="../../assets/img/people/1.jpg"></a>
                    <p class="geek-item-content col-md-7">
                      <a class="geek-item-name" target="_blank" href="#">伊个小希</a>
                      <span class="geek-item-score"><i class="fa fa-star"></i>51986</span>
                      <span class="geek-item-desc">画画的！会继续努力！合作联系请私信！</span>
                    </p>
                    <div class="geek-item-tags col-md-2">
                    <span class="bgblue"> 宅男 </span>
                    <span class="bgyellow"> 宅男 </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 margin-bottom-20">
                  <div class="geek-item col-md-12">
                    <a href="" class="col-md-2 pull-left padding-left-0"><img src="../../assets/img/people/2.jpg"></a>
                    <p class="geek-item-content col-md-7">
                      <a class="geek-item-name" target="_blank" href="#">伊个小希</a>
                      <span class="geek-item-score"><i class="fa fa-star"></i>51986</span>
                      <span class="geek-item-desc">画画的！会继续努力！合作联系请私信！</span>
                    </p>
                    <div class="geek-item-tags col-md-2">
                    <span class="bggreen"> 宅男 </span>
                    <span class="bgred"> 宅男 </span>
                    <span class="bgblue"> 宅男 </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 margin-bottom-20">
                  <div class="geek-item col-md-12">
                    <a href="" class="col-md-2 pull-left padding-left-0"><img src="../../assets/img/people/3.jpg"></a>
                    <p class="geek-item-content col-md-7">
                      <a class="geek-item-name" target="_blank" href="#">伊个小希</a>
                      <span class="geek-item-score"><i class="fa fa-star"></i>51986</span>
                      <span class="geek-item-desc">画画的！会继续努力！合作联系请私信！</span>
                    </p>
                    <div class="geek-item-tags col-md-2">
                    <span class="bggreen"> 宅男 </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 margin-bottom-20">
                  <div class="geek-item col-md-12">
                    <a href="" class="col-md-2 pull-left padding-left-0"><img src="../../assets/img/people/4.jpg"></a>
                    <p class="geek-item-content col-md-7">
                      <a class="geek-item-name" target="_blank" href="#">伊个小希</a>
                      <span class="geek-item-score"><i class="fa fa-star"></i>51986</span>
                      <span class="geek-item-desc">画画的！会继续努力！合作联系请私信！</span>
                    </p>
                    <div class="geek-item-tags col-md-2">
                    <span class="bggreen"> 宅男 </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 margin-bottom-20">
                  <div class="geek-item col-md-12">
                    <a href="" class="col-md-2 pull-left padding-left-0"><img src="../../assets/img/people/5.jpg"></a>
                    <p class="geek-item-content col-md-7">
                      <a class="geek-item-name" target="_blank" href="#">伊个小希</a>
                      <span class="geek-item-score"><i class="fa fa-star"></i>51986</span>
                      <span class="geek-item-desc">画画的！会继续努力！合作联系请私信！</span>
                    </p>
                    <div class="geek-item-tags col-md-2">
                    <span class="bggreen"> 宅男 </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 margin-bottom-20">
                  <div class="geek-item col-md-12">
                    <a href="" class="col-md-2 pull-left padding-left-0"><img src="../../assets/img/people/6.jpg"></a>
                    <p class="geek-item-content col-md-7">
                      <a class="geek-item-name" target="_blank" href="#">伊个小希</a>
                      <span class="geek-item-score"><i class="fa fa-star"></i>51986</span>
                      <span class="geek-item-desc">画画的！会继续努力！合作联系请私信！</span>
                    </p>
                    <div class="geek-item-tags col-md-2">
                    <span class="bggreen"> 宅男 </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 margin-bottom-20">
                  <div class="geek-item col-md-12">
                    <a href="" class="col-md-2 pull-left padding-left-0"><img src="../../assets/img/people/7.jpg"></a>
                    <p class="geek-item-content col-md-7">
                      <a class="geek-item-name" target="_blank" href="#">伊个小希</a>
                      <span class="geek-item-score"><i class="fa fa-star"></i>51986</span>
                      <span class="geek-item-desc">画画的！会继续努力！合作联系请私信！</span>
                    </p>
                    <div class="geek-item-tags col-md-2">
                    <span class="bggreen"> 宅男 </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 margin-bottom-20">
                  <div class="geek-item col-md-12">
                    <a href="" class="col-md-2 pull-left padding-left-0"><img src="../../assets/img/people/8.jpg"></a>
                    <p class="geek-item-content col-md-7">
                      <a class="geek-item-name" target="_blank" href="#">伊个小希</a>
                      <span class="geek-item-score"><i class="fa fa-star"></i>51986</span>
                      <span class="geek-item-desc">画画的！会继续努力！合作联系请私信！</span>
                    </p>
                    <div class="geek-item-tags col-md-2">
                    <span class="bggreen"> 宅男 </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 margin-bottom-20">
                  <div class="geek-item col-md-12">
                    <a href="" class="col-md-2 pull-left padding-left-0"><img src="../../assets/img/people/9.jpg"></a>
                    <p class="geek-item-content col-md-7">
                      <a class="geek-item-name" target="_blank" href="#">伊个小希</a>
                      <span class="geek-item-score"><i class="fa fa-star"></i>51986</span>
                      <span class="geek-item-desc">画画的！会继续努力！合作联系请私信！</span>
                    </p>
                    <div class="geek-item-tags col-md-2">
                    <span class="bggreen"> 宅男 </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 margin-bottom-20">
                  <div class="geek-item col-md-12">
                    <a href="" class="col-md-2 pull-left padding-left-0"><img src="../../assets/img/people/10.jpg"></a>
                    <p class="geek-item-content col-md-7">
                      <a class="geek-item-name" target="_blank" href="#">伊个小希</a>
                      <span class="geek-item-score"><i class="fa fa-star"></i>51986</span>
                      <span class="geek-item-desc">画画的！会继续努力！合作联系请私信！</span>
                    </p>
                    <div class="geek-item-tags col-md-2">
                    <span class="bggreen"> 宅男 </span>
                    </div>
                  </div>
                </div>
            </div>
            <!-- END PRODUCT LIST -->
            <!-- BEGIN PAGINATOR -->
            <div class="row">
              <div class="col-md-4 col-sm-4 items-info">共10条</div>
              <div class="col-md-8 col-sm-8">
                <ul class="pagination pull-right">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><span>2</span></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- END PAGINATOR -->
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>
 
    </div>
  </div>
  <!--END -->
  <!-- BEGIN FOOTER -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- BEGIN COPYRIGHT -->
        <div class="col-md-6 col-sm-6">
          <div class="pull-left copyright">2016 © 蔚蓝树. ALL Rights Reserved.</div>
        </div>
        <!-- END COPYRIGHT -->
        <!-- BEGIN SOCIAL ICONS -->
        <div class="col-md-6 col-sm-6">
          <div class="pull-right copyright">
            <a href="javascript:void(0);">免责</a>
            <span>|</span>
            <a href="javascript:void(0);">关于我们</a>
            <span>|</span>
            <a href="javascript:void(0);">联系我们</a>
          </div>
        </div>
        <!-- END SOCIAL ICONS -->
      </div>
    </div>
  </div>
  <!-- END FOOTER -->
  <a href="#menu" class="go2top scroll"><i class="fa fa-arrow-up"></i></a>
  <!--[if lt IE 9]>
  <script src="../../assets/global/plugins/respond.min.js"></script>
  <![endif]-->
  <!-- Load JavaScripts at the bottom, because it will reduce page load time -->
  <!-- Core plugins BEGIN (For ALL pages) -->
  <script src="../../assets/js/jquery.min.js" type="text/javascript"></script>
  <script src="../../assets/js/jquery-migrate.min.js" type="text/javascript"></script>
  <script src="../../assets/js/bootstrap.min.js" type="text/javascript"></script>
  <!-- Core plugins END (For ALL pages) -->
  <!-- BEGIN RevolutionSlider -->
  <script src="../../assets/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
  <script src="../../assets/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
  <script src="../../assets/js/revo-ini.js" type="text/javascript"></script> 
  <!-- END RevolutionSlider -->
  <!-- Core plugins BEGIN (required only for current page) -->
  <script src="../../assets/js/jquery.easing.js"></script>
  <script src="../../assets/js/jquery.parallax.js"></script>
  <script src="../../assets/js/jquery.scrollTo.min.js"></script>
  <script src="../../assets/js/jquery.nav.js"></script>
  <!-- Core plugins END (required only for current page) -->
  <!-- Global js BEGIN -->
  <script src="../../assets/js/layout.js" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      Layout.init();
    });
  </script>
  <!-- Global js END -->
</body>
</html>