<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
  
  <title>蔚蓝树</title>
  <Meta http-equiv="Content-Type" content="text/html; charset=utf-8" > 
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="weilanshu" name="description">
  <meta content="weilanshu" name="keywords">
  <meta content="chenrong" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-">
  <meta property="og:url" content="-CUSTOMER VALUE-">

  <link rel="shortcut icon" href="../../assets/img/favicon.ico">

  <!-- Global styles BEGIN -->
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../assets/css/settings.css" rel="stylesheet">
  <!-- Global styles END -->

  <!-- Theme styles BEGIN -->
  <link href="../../assets/css/components.css" rel="stylesheet">
  <link href="../../assets/css/style.css" rel="stylesheet">
  <link href="../../assets/css/style-responsive.css" rel="stylesheet">
  <link href="../../assets/css/blue.css" rel="stylesheet" id="style-color">
  <link href="../../assets/css/custom.css" rel="stylesheet">
  <link href="../../assets/css/style-shop1.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/news.css" rel="stylesheet" type="text/css">
  <link href="../../assets/css/plugins.css" rel="stylesheet" type="text/css">
  <!-- Theme styles END -->
</head>
<!--DOC: menu-always-on-top class to the body element to set menu on top -->
<body class="menu-always-on-top">
  
  <!-- Header BEGIN -->
  <div class="header header-mobi-ext" >
    <div class="container">
      <div class="row">
        <!-- Logo BEGIN -->
        <div class="col-md-2 col-sm-2">
          <a class="scroll site-logo" href="#promo-block"><img src="../../assets/img/logo/logo.png" alt="蔚蓝树"></a>
        </div>
        <!-- Logo END -->
        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
        <!-- Navigation BEGIN -->
        <div class="col-md-10 pull-right">
          <ul class="header-navigation  pull-right font-transform-inherit">
            <li><a href="../../index.html">首页</a></li>
            <li><a href="news.html">资讯</a></li>
            <li><a href="geek.html">极客</a></li>
            <li><a href="post-bar.html">贴吧</a></li>
            <li class="current"><a href="my-space.html">我的</a></li>
            <li><a href="../../register.html" style="display: inline; font-size:15px;">注册</a>  |  <a href="../../login.html"style="display: inline; font-size:15px;">登录</a></li>
          </ul>
        </div>
        <!-- Navigation END -->
      </div>
    </div>
  </div>
  <!-- Header END -->
  <div class="weilanshu" style="padding-top:60px;" id="menu">
    <div class="title-wrapper">
      <div class="container">
        <div class="container-inner">
          <em>
            <img src="../../assets/img/people/1.jpg" alt="">
            <p>RemRong <i class="fa fa-female"></i></p>
            <p style="font-size:14px">一句话介绍一下自己吧，让别人更了解你</p>
            <a href="#" class="btn red"><i class="fa fa-plus"></i> 关注</a>
            <a href="#" class="btn red"><i class="fa fa-comment"></i> 私信</a>
          </em>
        </div>
      </div>
      
    </div>

    <div class="main">
      <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row">
          <div class="product-page-content margin-bottom-20">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#tab-1" data-toggle="tab">基本资料</a></li>
              <li><a href="#tab-2" data-toggle="tab">作品</a></li>
              <li><a href="resume.html"  target="_blank">简历</a></li>
              <li><a href="#tab-4" data-toggle="tab">关注</a></li>
              <li><a href="#tab-5" data-toggle="tab">消息</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="tab-1">
              <table class="datasheet">
                <tr>
                  <th colspan="2">基本信息</th>
                </tr>
                <tr>
                  <td class="datasheet-features-type">昵称：</td>
                  <td>流浪的风</td>
                </tr>
                <tr>
                  <td class="datasheet-features-type">学校：</td>
                  <td>上海交通大学</td>
                </tr>
                <tr>
                  <td class="datasheet-features-type">年龄：</td>
                  <td>25</td>
                </tr>
                <tr>
                  <td class="datasheet-features-type">专业：</td>
                  <td>计算机信息技术</td>
                </tr>
                <tr>
                  <td class="datasheet-features-type">所在地：</td>
                  <td>上海</td>
                </tr>
                <tr>
                  <td class="datasheet-features-type">技能：</td>
                  <td>Java</td>
                </tr>
                <tr>
                  <td class="datasheet-features-type">兴趣爱好：</td>
                  <td>足球</td>
                </tr>
                <tr>
                  <td class="datasheet-features-type">星座：</td>
                  <td>白羊座</td>
                </tr>
                <tr>
                  <td class="datasheet-features-type">个性签名：</td>
                  <td>一句话介绍一下自己吧，让别人更了解你</td>
                </tr>
              </table>
            </div>
            <div class="tab-pane fade row" id="tab-2">
              <!-- BEGIN article -->
              <div class="portlet light">
                  <div class="portlet-title">
                      <div class="caption caption-md">
                          <i class="icon-bar-chart theme-font hide"></i>
                          <span class="caption-subject font-blue-madison bold uppercase">已发布作品</span>
                          <span class="caption-helper">1个</span>
                      </div>
                  </div>
                  <div class="portlet-body">
                    <div class="review-item clearfix">
                      <div class="review-item-submitted">
                        <strong>作品名称</strong>
                        <em>30/12/2013 - 07:37</em>
                        <div class="rateit" data-rateit-value="5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                      </div>                                              
                      <div class="review-item-content">
                        <p>作品描述作品描述作品描述作品描述作品描述作品描述作品描述作品描述作品描述作品描述作品描述作品描述作品描述作品描述作品描述作品描述</p>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="portlet light">
                  <div class="portlet-title">
                      <div class="caption caption-md">
                          <i class="icon-bar-chart theme-font hide"></i>
                          <span class="caption-subject font-blue-madison bold uppercase">现在发布</span>
                      </div>
                      <div class="inputs">
                          <div class="portlet-input input-inline input-small ">
                              <div class="pull-right">
                                  <button type="submit" class="btn btn-primary">发布</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <form action="#" class="reviews-form" role="form">
                      <div class="form-group">
                        <label for="name">作品名称 <span class="require">*</span></label>
                        <input type="text" class="form-control" id="name">
                      </div>
                      <div class="form-group">
                        <label for="email">完成时间</label>
                        <input type="text" class="form-control" id="email">
                      </div>
                      <div class="form-group">
                        <label for="review">作品描述 <span class="require">*</span></label>
                        <textarea class="form-control" rows="8" id="review"></textarea>
                      </div>
                    </form>
                    <!-- END FORM-->
                  </div>
              </div>
              <!-- END article -->


               
            </div>
            <div class="tab-pane fade row" id="tab-4">
              <!-- BEGIN ATTENTION -->
              <div class="portlet light">
                  <div class="portlet-title">
                      <div class="caption caption-md">
                          <i class="icon-bar-chart theme-font hide"></i>
                          <span class="caption-subject font-blue-madison bold uppercase">全部关注</span>
                          <span class="caption-helper">45个</span>
                      </div>
                      <div class="inputs">
                          <div class="portlet-input input-inline input-small ">
                              <div class="input-icon right">
                                  <i class="fa fa-search"></i>
                                  <input type="text" class="form-control form-control-solid" placeholder="搜索...">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="portlet-body">
                      <div style="">
                          <div class="my-space-attention-item-list col-md-12 padding-left-0 padding-right-0">
                              <div class="item col-md-4">
                                  <div class="item-left col-md-4">
                                    <img src="../../assets/img/people/1.jpg">
                                  </div>
                                  <div class="item-right col-md-8">
                                      <h4>哈哈哈哈</h4>
                                      <p><i class="fa fa-check"></i>已关注</p>
                                      <p>视觉（中国）文化发展股份有限公司有限公司</p>
                                  </div>
                              </div>
                              <div class="item col-md-4">
                                  <div class="item-left col-md-4">
                                    <img src="../../assets/img/people/11.jpg">
                                  </div>
                                  <div class="item-right col-md-8">
                                      <h4>哈哈哈哈</h4>
                                      <p><i class="fa fa-check"></i>已关注</p>
                                      <p>视觉（中国）文化发展股份有限公司有限公司</p>
                                  </div>
                              </div>
                              <div class="item col-md-4">
                                  <div class="item-left col-md-4">
                                    <img src="../../assets/img/people/12.jpg">
                                  </div>
                                  <div class="item-right col-md-8">
                                      <h4>哈哈哈哈</h4>
                                      <p><i class="fa fa-check"></i>已关注</p>
                                      <p>视觉（中国）文化发展股份有限公司有限公司</p>
                                  </div>
                              </div>
                              <div class="item col-md-4">
                                  <div class="item-left col-md-4">
                                    <img src="../../assets/img/people/13.jpg">
                                  </div>
                                  <div class="item-right col-md-8">
                                      <h4>哈哈哈哈</h4>
                                      <p><i class="fa fa-check"></i>已关注</p>
                                      <p>视觉（中国）文化发展股份有限公司有限公司</p>
                                  </div>
                              </div>
                              <div class="item col-md-4">
                                  <div class="item-left col-md-4">
                                    <img src="../../assets/img/people/14.jpg">
                                  </div>
                                  <div class="item-right col-md-8">
                                      <h4>哈哈哈哈</h4>
                                      <p><i class="fa fa-check"></i>已关注</p>
                                      <p>视觉（中国）文化发展股份有限公司有限公司</p>
                                  </div>
                              </div>
                              <div class="item col-md-4">
                                  <div class="item-left col-md-4">
                                    <img src="../../assets/img/people/15.jpg">
                                  </div>
                                  <div class="item-right col-md-8">
                                      <h4>哈哈哈哈</h4>
                                      <p><i class="fa fa-check"></i>已关注</p>
                                      <p>视觉（中国）文化发展股份有限公司有限公司</p>
                                  </div>
                              </div>
                              <div class="item col-md-4">
                                  <div class="item-left col-md-4">
                                    <img src="../../assets/img/people/16.jpg">
                                  </div>
                                  <div class="item-right col-md-8">
                                      <h4>哈哈哈哈</h4>
                                      <p><i class="fa fa-check"></i>已关注</p>
                                      <p>有限公司</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- END ATTENTION -->
            </div>
            <div class="tab-pane fade row" id="tab-5">
              <!-- BEGIN MESSAGE -->
              <div class="portlet light">
                  <div class="portlet-title">
                      <div class="caption caption-md">
                          <i class="icon-bar-chart theme-font hide"></i>
                          <span class="caption-subject font-blue-madison bold uppercase">全部消息</span>
                          <span class="caption-helper">45条</span>
                      </div>
                      <div class="inputs">
                          <div class="portlet-input input-inline input-small ">
                              <div class="input-icon right">
                                  <i class="fa fa-search"></i>
                                  <input type="text" class="form-control form-control-solid" placeholder="搜索...">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="portlet-body">
                      <div style="height: 300px; overflow-y:scroll">
                          <div class="general-item-list col-md-12">
                              <div class="item">
                                  <div class="item-head">
                                      <div class="item-details">
                                          <img class="item-pic" src="../../assets/img/people/1.jpg">
                                          <a href="" class="item-name primary-link">陈山猫</a>
                                          <span class="item-label">3小时以前</span>
                                      </div>
                                      <span class="item-status"><span class="badge badge-empty badge-success"></span> 已读</span>
                                  </div>
                                  <div class="item-body">
                                      哈哈哈哈，你好
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="item-head">
                                      <div class="item-details">
                                          <img class="item-pic" src="../../assets/img/people/7.jpg">
                                          <a href="" class="item-name primary-link">陈山猫</a>
                                          <span class="item-label">5小时以前</span>
                                      </div>
                                      <span class="item-status"><span class="badge badge-empty badge-warning"></span> 未读</span>
                                  </div>
                                  <div class="item-body">
                                      再见！！！！！
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="item-head">
                                      <div class="item-details">
                                          <img class="item-pic" src="../../assets/img/people/8.jpg">
                                          <a href="" class="item-name primary-link">陈山猫</a>
                                          <span class="item-label">3小时以前</span>
                                      </div>
                                      <span class="item-status"><span class="badge badge-empty badge-success"></span> 已读</span>
                                  </div>
                                  <div class="item-body">
                                      哈哈哈哈，你好
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="item-head">
                                      <div class="item-details">
                                          <img class="item-pic" src="../../assets/img/people/9.jpg">
                                          <a href="" class="item-name primary-link">陈山猫</a>
                                          <span class="item-label">5小时以前</span>
                                      </div>
                                      <span class="item-status"><span class="badge badge-empty badge-warning"></span> 未读</span>
                                  </div>
                                  <div class="item-body">
                                      再见！！！！！
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="item-head">
                                      <div class="item-details">
                                          <img class="item-pic" src="../../assets/img/people/1.jpg">
                                          <a href="" class="item-name primary-link">陈山猫</a>
                                          <span class="item-label">3小时以前</span>
                                      </div>
                                      <span class="item-status"><span class="badge badge-empty badge-success"></span> 已读</span>
                                  </div>
                                  <div class="item-body">
                                      哈哈哈哈，你好
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="item-head">
                                      <div class="item-details">
                                          <img class="item-pic" src="../../assets/img/people/1.jpg">
                                          <a href="" class="item-name primary-link">陈山猫</a>
                                          <span class="item-label">5小时以前</span>
                                      </div>
                                      <span class="item-status"><span class="badge badge-empty badge-warning"></span> 未读</span>
                                  </div>
                                  <div class="item-body">
                                      再见！！！！！
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="item-head">
                                      <div class="item-details">
                                          <img class="item-pic" src="../../assets/img/people/1.jpg">
                                          <a href="" class="item-name primary-link">陈山猫</a>
                                          <span class="item-label">3小时以前</span>
                                      </div>
                                      <span class="item-status"><span class="badge badge-empty badge-success"></span> 已读</span>
                                  </div>
                                  <div class="item-body">
                                      哈哈哈哈，你好
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="item-head">
                                      <div class="item-details">
                                          <img class="item-pic" src="../../assets/img/people/1.jpg">
                                          <a href="" class="item-name primary-link">陈山猫</a>
                                          <span class="item-label">5小时以前</span>
                                      </div>
                                      <span class="item-status"><span class="badge badge-empty badge-warning"></span> 未读</span>
                                  </div>
                                  <div class="item-body">
                                      再见！！！！！
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
              <!-- END MESSAGE -->
            </div>
            </div>
          </div>
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>
  </div>
  <!-- BEGIN FOOTER -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- BEGIN COPYRIGHT -->
        <div class="col-md-6 col-sm-6">
          <div class="pull-left copyright">2016 © 蔚蓝树. ALL Rights Reserved.</div>
        </div>
        <!-- END COPYRIGHT -->
        <!-- BEGIN SOCIAL ICONS -->
        <div class="col-md-6 col-sm-6">
          <div class="pull-right copyright">
            <a href="javascript:void(0);">免责</a>
            <span>|</span>
            <a href="javascript:void(0);">关于我们</a>
            <span>|</span>
            <a href="javascript:void(0);">联系我们</a>
          </div>
        </div>
        <!-- END SOCIAL ICONS -->
      </div>
    </div>
  </div>
  <!-- END FOOTER -->
  <a href="#menu" class="go2top scroll"><i class="fa fa-arrow-up"></i></a>
  <!--[if lt IE 9]>
  <script src="../../assets/global/plugins/respond.min.js"></script>
  <![endif]-->
  <!-- Load JavaScripts at the bottom, because it will reduce page load time -->
  <!-- Core plugins BEGIN (For ALL pages) -->
  <script src="../../assets/js/jquery.min.js" type="text/javascript"></script>
  <script src="../../assets/js/jquery-migrate.min.js" type="text/javascript"></script>
  <script src="../../assets/js/bootstrap.min.js" type="text/javascript"></script>
  <!-- Core plugins END (For ALL pages) -->
  <!-- BEGIN RevolutionSlider -->
  <script src="../../assets/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
  <script src="../../assets/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
  <script src="../../assets/js/revo-ini.js" type="text/javascript"></script> 
  <!-- END RevolutionSlider -->
  <!-- Core plugins BEGIN (required only for current page) -->
  <script src="../../assets/js/jquery.easing.js"></script>
  <script src="../../assets/js/jquery.parallax.js"></script>
  <script src="../../assets/js/jquery.scrollTo.min.js"></script>
  <script src="../../assets/js/jquery.nav.js"></script>

  <!-- Core plugins END (required only for current page) -->
  <!-- Global js BEGIN -->
  <script src="../../assets/js/layout.js" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      Layout.init();
    });
  </script>
  <!-- Global js END -->
</body>
</html>