 <head> 
  <title>蔚蓝树</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta content="width=device-width, initial-scale=1.0" name="viewport" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
  <meta content="weilanshu" name="description" /> 
  <meta content="weilanshu" name="keywords" /> 
  <meta content="chenrong" name="author" /> 
  <meta property="og:site_name" content="-CUSTOMER VALUE-" /> 
  <meta property="og:title" content="-CUSTOMER VALUE-" /> 
  <meta property="og:description" content="-CUSTOMER VALUE-" /> 
  <meta property="og:type" content="website" /> 
  <meta property="og:image" content="-CUSTOMER VALUE-" /> 
  <meta property="og:url" content="-CUSTOMER VALUE-" /> 
  <link rel="shortcut icon" href="../../assets/img/favicon.ico" /> 
  <!-- Global styles BEGIN --> 
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" /> 
  <link href="../../assets/css/font-awesome.min.css" rel="stylesheet" /> 
  <!-- Global styles END --> 
  <!-- Theme styles BEGIN --> 
  <link href="../../assets/css/components.css" rel="stylesheet" /> 
  <link href="../../assets/css/style.css" rel="stylesheet" /> 
  <link href="../../assets/css/plugins.css" rel="stylesheet" type="text/css" /> 
  <link href="../../assets/css/bootstrap-fileinput.css" rel="stylesheet" type="text/css" /> 
   <link href="../../assets/css/timeline-old.css" rel="stylesheet" type="text/css" /> 
  <!-- Theme styles END --> 
  <!--[if lt IE 9]>
  <script src="../../assets/global/plugins/respond.min.js"></script>
  <![endif]--> 
  <!-- Load JavaScripts at the bottom, because it will reduce page load time --> 
  <!-- Core plugins BEGIN (For ALL pages) --> 
  <script src="../../assets/../../assets/js/jquery.min.js" type="text/javascript"></script> 
  <script src="../../assets/js/jquery-migrate.min.js" type="text/javascript"></script> 
  <script src="../../assets/js/bootstrap.min.js" type="text/javascript"></script> 
  <!-- Core plugins END (For ALL pages) --> 
  <!-- Core plugins BEGIN (required only for current page) --> 
  <script src="../../assets/js/jquery.nav.js"></script> 
  <!-- Core plugins END (required only for current page) --> 
  <script src="../../assets/js/bootstrap-hover-dropdown.min.js" type="text/javascript"></script> 
  <script src="../../assets/js/jquery.slimscroll.min.js" type="text/javascript"></script> 
  <script src="../../assets/js/jquery.uniform.min.js" type="text/javascript"></script> 
  <script type="text/javascript" src="../../assets/js/bootstrap-fileinput.js"></script> 
  <script type="text/javascript" src="../../assets/js/jquery.mockjax.js"></script> 
  <!-- Global js BEGIN --> 
  <script src="../../assets/js/metronic.js" type="text/javascript"></script> 
  <script src="../../assets/js/demo.js" type="text/javascript"></script> 
  <script src="../../assets/js/layout.js" type="text/javascript"></script> 
  <script src="../../assets/js/common.js"></script> 
  <script type="text/javascript" src="../../assets/js/jquery-3.1.0.min.js"></script> 
   <script type="text/javascript" src="../../assets/js/angular.min.js"></script>
  <script src="../../app/js/my-space-ask.js" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      Metronic.init(); // init metronic core components
      Layout.init(); // init current layout
      Demo.init(); // init demo features
	  CommonObj.init();
    });
  </script> 
 </head> 
 <!--DOC: menu-always-on-top class to the body element to set menu on top --> 
 <body class="menu-always-on-top"> 
  <div class="weilanshu" id="base_content_container"> 
   <div class="title-wrapper" id="img_bg_space"> 
    <div class="container"> 
     <div class="container-inner"> 
      <em> <img src="../../assets/img/people/1.jpg" alt="头像" title="用户头像头像" />
       <p>{{user.nickname}} <span ng-if="user.sex=='男'"><i class="fa fa-male"></i></span> <span ng-if="user.sex=='女'"><i class="fa fa-female"></i></span> 
       <span class="badge bg-yellow-casablanca">Lv {{level}}</span></p>
       <p style="font-size:14px">{{user.signature}}</p>
         <a href="#attention_me" data-toggle="modal" class="btn red" ng-click="attention()" ng-if="askFollowFlag==false"><i class="fa fa-plus"></i> 关注</a> 
         <a href="#unattention_me" data-toggle="modal" class="btn red" id="attention" ng-click="unattention()" ng-if="askFollowFlag==true"><i class="fa fa-check"></i> 已关注</a> 
         <a href="#" class="btn red" id="send_message"><i class="fa fa-comment"></i> 私信</a> </em> 
     </div> 
    </div> 
   </div> 
   <div class="main"> 
    <div class="container"> 
     <!-- BEGIN SIDEBAR & CONTENT --> 
     <div class="row"> 
      <div class="product-page-content margin-bottom-20"> 
       <ul id="myTab" class="nav nav-tabs"> 
        <li class="active"><a href="#tab-1" data-toggle="tab">基本资料</a></li> 
        <li><a href="#tab-2" data-toggle="tab">作品</a></li> 
        <li><a href="#tab-3" data-toggle="tab">简历</a></li> 
        <li><a href="#tab-4" data-toggle="tab">关注</a></li>
       </ul> 
       <div id="myTabContent" class="tab-content"> 
        <div class="tab-pane fade row in active" id="tab-1"> 
         <div class="portlet light"> 
          <div class="portlet-title"> 
           <div class="caption caption-md"> 
            <i class="icon-bar-chart theme-font hide"></i> 
            <span class="caption-subject font-blue-madison bold uppercase">基本信息</span> 
           </div>
          </div> 
          <div class="portlet-body"> 
           <table class="datasheet"> 
            <tbody>
             <tr> 
              <td class="datasheet-features-type">昵称：</td> 
              <td class="datasheet-features-type2">{{user.nickname}}</td> 
              <td class="datasheet-features-type">所在地：</td> 
              <td class="datasheet-features-type2">{{userProvince}}-{{userCity}}</td> 
             </tr> 
             <tr> 
              <td class="datasheet-features-type">性别：</td> 
              <td class="datasheet-features-type2">{{user.sex}}</td> 
              <td class="datasheet-features-type">学校：</td> 
              <td class="datasheet-features-type2">{{userSchool}}</td> 
             </tr> 
             <tr> 
              <td class="datasheet-features-type">年龄：</td> 
              <td class="datasheet-features-type2">{{user.age}}</td> 
              <td class="datasheet-features-type">专业：</td> 
              <td class="datasheet-features-type2">{{user.major}}</td> 
             </tr> 
             <tr> 
              <td class="datasheet-features-type">兴趣爱好：</td> 
              <td class="datasheet-features-type2">{{user.interest}}</td> 
              <td class="datasheet-features-type">角色：</td> 
              <td class="datasheet-features-type2">{{userRole}}</td> 
             </tr> 
             <tr> 
              <td class="datasheet-features-type">个性签名：</td> 
              <td class="datasheet-features-type2"colspan="3">{{user.signature}}</td> 
             </tr> 
            </tbody>
           </table> 
          </div> 
         </div> 
        </div> 
        <div class="tab-pane fade row" id="tab-2"> 
         <!-- BEGIN article --> 
         <div class="portlet light"> 
          <div class="portlet-title"> 
           <div class="caption caption-md"> 
            <i class="icon-bar-chart theme-font hide"></i> 
            <span class="caption-subject font-blue-madison bold uppercase">已发布作品</span> 
            <span class="caption-helper">1个</span> 
           </div> 
          </div> 
          <div class="portlet-body"> 
           <!-- BEGIN PRODUCT LIST --> 
           <div class="row blogs-list margin-bottom-20"> 
            <div class="col-md-7 margin-bottom-20"> 
             <div class="blog-item col-md-12"> 
              <div class="col-md-12"> 
               <a href="" ><img class="blog-item-img" src="../../assets/img/people/1.jpg" /> <img class="blog-item-img-v" src="../../assets/img/vip.png" /></a> 
               <div class="blog-item-body col-md-10 margin-bottom-10"> 
                <div class="blog-item-body-title"> 
                 <div class="col-md-12"> 
                  <a class="blog-item-name" href="blog-info.html">考考你，这副“崇明美食牌”认识几个？</a> 
                  <span class="blog-item-time"><i class="fa fa-clock-o"></i> 1小时以前 来自#hhhh#</span> 
                 </div> 
                </div> 
                <div class="blog-item-body-info col-md-12"> 
                 <p>【考考你，这副“崇明美食牌”认识几个？】秋高气爽人气旺，橘黄蟹肥稻米香。金秋时节是崇明一年中最好的季节，闻名遐迩的崇明美食更是散发出了令人难以抵挡的诱惑！今天，崇明金秋美食节将拉开帷幕，活动持续一个月。寻找崇明生态美食之前，不妨先来看看这副牌你认识多少？尝过多少？最喜欢哪手牌？</p> 
                 <img src="../../assets/img/facts.jpg" width="300px" /> 
                </div> 
               </div> 
              </div> 
              <div class="col-md-12 blog-item-action"> 
               <div class="col-md-4"> 
                <span><a href="blog-info.html#comments"><i class="fa fa-comments"></i> 评论100</a></span> 
               </div> 
               <div class="col-md-4 line"> 
                <span><a><i class="fa fa-thumbs-up"></i> 点赞</a></span> 
               </div> 
               <div class="col-md-4"> 
                <span class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true" aria-expanded="false"><a><i class="fa fa-share-alt"></i> 分享</a></span> 
                <ul class="dropdown-menu" role="menu"> 
                 <li> <a href="javascript:;"> <i class="fa fa-wechat"></i> 微信 </a> </li> 
                 <li> <a href="javascript:;"> <i class="fa fa-weibo"></i> 新浪微博</a> </li> 
                 <li> <a href="javascript:;"> <i class="fa fa-qq"></i> QQ</a> </li> 
                 <li> <a href="javascript:;"> <i class="fa fa-star"></i> QQ空间 </a> </li> 
                </ul> 
               </div> 
              </div> 
             </div> 
            </div> 

            <div class="col-md-7 margin-bottom-20"> 
             <div class="blog-item col-md-12"> 
              <div class="col-md-12"> 
               <a href="" ><img class="blog-item-img" src="../../assets/img/people/4.jpg" /></a> 
               <div class="blog-item-body col-md-10 margin-bottom-10"> 
                <div class="blog-item-body-title"> 
                 <div class="col-md-11"> 
                  <a class="blog-item-name" target="_blank" href="#">考考你，这副“崇明美食牌”认识几个？</a> 
                  <span class="blog-item-time"><i class="fa fa-clock-o"></i> 1小时以前 来自#hhhh#</span> 
                 </div> 
                </div> 
                <div class="blog-item-body-info col-md-12"> 
                 <p>【考考你，这副“崇明美食牌”认识几个？】秋高气爽人气旺，橘黄蟹肥稻米香。金秋时节是崇明一年中最好的季节，闻名遐迩的崇明美食更是散发出了令人难以抵挡的诱惑！今天，崇明金秋美食节将拉开帷幕，活动持续一个月。寻找崇明生态美食之前，不妨先来看看这副牌你认识多少？尝过多少？最喜欢哪手牌？</p> 
                 <img src="../../assets/img/facts.jpg" width="300px" /> 
                </div> 
               </div> 
              </div> 
              <div class="col-md-12 blog-item-action"> 
               <div class="col-md-4"> 
                <span><a href="blog-info.html"><i class="fa fa-comments"></i> 评论50</a></span> 
               </div> 
               <div class="col-md-4 line"> 
                <span><a class="thumbs-up" id="thumbs_up"><i class="fa fa-thumbs-up"></i> 已点赞</a></span> 
               </div> 
               <div class="col-md-4"> 
                <span class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true" aria-expanded="false"><a><i class="fa fa-share-alt"></i> 分享</a></span> 
                <ul class="dropdown-menu" role="menu"> 
                 <li> <a href="javascript:;"> <i class="fa fa-wechat"></i> 微信 </a> </li> 
                 <li> <a href="javascript:;"> <i class="fa fa-weibo"></i> 新浪微博</a> </li> 
                 <li> <a href="javascript:;"> <i class="fa fa-qq"></i> QQ</a> </li> 
                 <li> <a href="javascript:;"> <i class="fa fa-star"></i> QQ空间 </a> </li> 
                </ul> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
           <!-- END PRODUCT LIST --> 
          </div> 
         </div> 
        </div>
        <div class="tab-pane fade row" id="tab-3" ng-if="askResumeFlag==false"> 
         <!-- BEGIN article --> 
         <div class="portlet light"> 
          <div class="portlet-body content-center"><i class="fa fa-exclamation-triangle"></i> 需要申请才能访问！   <a href="javascript:;" class="btn red" ng-click="askResume()"> 申请访问 </a></div>
        </div>
        </div>
        
         <div class="tab-pane fade row" id="tab-3" ng-if="askResumeFlag==true"> 
         <div class="portlet light"> 
          <div class="portlet-title"> 
           <div class="caption caption-md"> 
            <i class="icon-bar-chart theme-font hide"></i> 
            <span class="caption-subject font-blue-madison bold uppercase">简历</span> 
           </div> 
          </div> 
          <div class="portlet-body"> 
           <div id="resume" style="padding-top:55px; background:#ebedec;"> 
            <div class="portlet light" style="background:#ebedec !important;"> 
             <div class="portlet-body"> 
              <div class="row"> 
               <div class="resume-basic col-md-12 margin-bottom-20"> 
                <div class="col-md-3"> 
                 <img src="../../assets/img/user.png" class="photo" alt="照片" /> 
                </div> 
                <div class="col-md-9 no-padding"> 
                 <div class="col-md-12 no-padding margin-bottom-70"> 
                  <div class="col-md-4"> 
                   <h2>{{user.realname}}</h2> 
                   <span>求职意向：{{user.intention}}</span> 
                  </div> 
                  <div class="col-md-8"> 
                   <img src="../../assets/img/personal-resume.png" class="pull-right" height="100px" /> 
                   <a href="my-space.html" class="resume-basic-info pull-right">个人空间：www.weilanshu.com/my-space.html</a> 
                  </div> 
                 </div> 
                 <div class="resume-basic-info col-md-12"> 
                  <div class="col-md-2"> 
                   <i class="fa fa-user"></i> {{user.age}}岁 
                  </div> 
                  <div class="col-md-2"> 
                   <i class="fa fa-map-marker"></i> {{user.address}}
                  </div> 
                  <div class="col-md-3"> 
                   <i class="fa fa-mobile"></i> {{user.telephone}} 
                  </div> 
                  <div class="col-md-5"> 
                   <i class="fa fa-envelope-o"></i> {{user.email}}
                  </div> 
                 </div> 
                </div> 
               </div> 
               <div class="resume-line col-md-12"></div> 
               <div class="col-md-12 padding-top-40"> 
                <ul class="timeline"> 
                 <li> 
                  <div class="timeline-time"> 
                   <span class="time"> 教育背景</span> 
                   <span class="time-en"> EDUCATION</span> 
                  </div> 
                  <div class="timeline-icon"> 
                   <i class="fa fa-mortar-board "></i> 
                  </div> 
                  <div class="timeline-body" ng-repeat="educate in educates"> 
                   <h2>{{educate.starttime}}至{{educate.endtime}} </h2> 
                   <span>{{educate.school}}</span> 
                   <div class="timeline-content">
                     {{educate.describe}}
                   </div> 
                   <div class="timeline-footer"> 
                    <span>{{educate.major}} </span> | <span ng-if="educate.fulltime==1">非</span> 
                    <span> 全日制 </span>  |  <span>{{educate.degree}}</span>
                   </div> 
                  </div> </li> 
                 <li> 
                  <div class="timeline-time"> 
                   <span class="time"> 工作经历</span> 
                   <span class="time-en"> WORK</span> 
                  </div>  
                  <div class="timeline-icon"> 
                   <i class="fa fa-user"></i> 
                  </div> 
                  <div class="timeline-body" ng-repeat="job in jobs"> 
                   <h2>{{job.starttime}}至{{job.endtime}} </h2> 
                   <span>{{job.company}}</span>|<span>{{job.companysize}}</span>|
                   <span>{{job.companynature}}</span> |  <span>{{job.industry}}</span> 
                   <div class="timeline-content">
                                                    职位描述：{{job.describe}}
                   </div> 
                   <div class="timeline-footer"> 
                    <a href="javascript:;" class="nav-link pull-left"> 担任职位：{{job.position}} </a> 
                   </div> 
                  </div> 
                  <div class="timeline-icon"> 
                  </div> 
                  </li>
                  <li> 
                  <div class="timeline-time"> 
                   <span class="time"> 自我评价</span> 
                   <span class="time-en"> EVALUATION</span> 
                  </div> 
                  <div class="timeline-icon"> 
                   <i class="fa fa-user"></i> 
                  </div> 
                  <div class="timeline-body"> 
                   <div class="timeline-content"> 
                   {{user.introduction}}
                   </div> 
                  </div> 
                 </li> 
                 <li> 
                  <div class="timeline-time"> 
                   <span class="time"> 获奖荣誉</span> 
                   <span class="time-en"> HONOR</span> 
                  </div> 
                  <div class="timeline-icon"> 
                   <i class="fa fa-user"></i> 
                  </div>  
                  <div class="timeline-body" ng-repeat="honor in honors"> 
                   <h2>{{honor.starttime}}至{{honor.endtime}}</h2> 
                   <span class="honor_text">{{honor.honor}}</span> 
                 </div> 
                  </li> 
                 <li> 
                  <div class="timeline-time"> 
                   <span class="time"> 技能</span> 
                   <span class="time-en"> SKILL</span> 
                  </div> 
                  <div class="timeline-icon"> 
                   <i class="fa fa-user"></i> 
                  </div> 
                  <div class="timeline-body"> 
                   <h2>技能列表</h2> 
                   <div class="timeline-content"> 
                    <div class="col-md-12 no-padding" ng-repeat="skill in skills"> 
                     <div class="col-md-4"> 
                      <div class="progress"> 
                       <div ng-if="skill.degree==0" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%"> 
                        <span class="sr-only"> 33% Complete </span> 
                       </div> 
                       <div ng-if="skill.degree==1" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%"> 
                        <span class="sr-only"> 66% Complete </span> 
                       </div> 
                       <div ng-if="skill.degree==0" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> 
                        <span class="sr-only">100% Complete </span> 
                       </div> 
                      </div> 
                     </div> 
                     <div class="col-md-3">
                       {{skill.skill}}
                     </div> 
                     <div class="col-md-5 no-padding">
                     </div> 
                    </div> 
                   </div> 
                  </div> 
                 </li> 
                </ul> 
              </div> 
              </div> 
             </div> 
            </div> 
           </div> 
           </div>
           </div> 
           </div> 
        
        
        <div class="tab-pane fade row" id="tab-4"> 
         <!-- BEGIN ATTENTION --> 
         <div class="portlet light"> 
          <div class="portlet-title"> 
           <div class="caption caption-md"> 
            <i class="icon-bar-chart theme-font hide"></i> 
            <span class="caption-subject font-blue-madison bold uppercase">全部关注</span> 
           <span class="caption-helper">{{followerNum}}个</span>
           </div> 
           <div class="inputs"> 
            <div class="portlet-input input-inline input-small "> 
             <div class="input-icon right"> 
              <i class="fa fa-search"></i> 
              <input type="text" class="form-control form-control-solid" placeholder="搜索..." /> 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="portlet-body"> 
           <div class="row geeks-list margin-bottom-20"> 
           <div class="col-md-6 margin-bottom-20"  ng-repeat="user in followers"> 
             <div class="geek-item col-md-12"> 
            <a href="my-space-ask.html" class="col-md-2 pull-left padding-left-0"><img class="geek-item-img" src="../../assets/img/people/1.jpg" /> <img class="geek-item-img-v" src="../../assets/img/vip.png" /></a> 
           <p class="geek-item-content col-md-6"> <a class="geek-item-name" target="_blank" href="my-space-ask.html">{{user.nickname}}</a> <span class="badge bg-yellow-casablanca">Lv {{user.level}}</span> <span class="geek-item-desc">{{user.signature}}</span> </p> 
           <div class="geek-item-tags col-md-3"> 
            <span class="bgblue" ng-repeat="skill in user.skillEntities"> 
            {{skill.skill}} </span> 
           </div> 
            </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <!-- END ATTENTION --> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- END SIDEBAR & CONTENT --> 
    </div> 
   </div> 
   <!--edit_img--> 
   <!-- /.modal --> 
 <!--attention_me--> 
   <div class="modal fade" id="attention_me" tabindex="-1" role="basic" aria-hidden="true"> 
    <div class="modal-dialog"> 
     <div class="modal-content"> 
      <div class="modal-header"> 
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button> 
       <h4 class="modal-title">关注成功</h4> 
      </div> 
      <div class="modal-body"> 
       <i class="fa fa-check-circle-o" style="color:green; font-size:20px;padding:5px;"></i> 关注成功！ 
      </div> 
      <div class="modal-footer"> 
       <button type="button" class="btn default" data-dismiss="modal">关闭</button> 
      </div> 
     </div> 
     <!-- /.modal-content --> 
    </div> 
    <!-- /.modal-dialog --> 
   </div> 
   <!-- /.modal --> 
   <!--unattention_me--> 
   <div class="modal fade" id="unattention_me" tabindex="-1" role="basic" aria-hidden="true"> 
    <div class="modal-dialog"> 
     <div class="modal-content"> 
      <div class="modal-header"> 
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button> 
       <h4 class="modal-title">取消关注</h4> 
      </div> 
      <div class="modal-body"> 
       <i class="fa fa-check-circle-o" style="color:green; font-size:20px;padding:5px;"></i> 已取消关注！ 
      </div> 
      <div class="modal-footer"> 
       <button type="button" class="btn default" data-dismiss="modal">关闭</button> 
      </div> 
     </div> 
     <!-- /.modal-content --> 
    </div> 
    <!-- /.modal-dialog --> 
   </div> 
   <!-- /.modal -->  
  </div> 
  <!--send_message--> 
  <div class="send-message" style="display:none;" id="send-message"> 
   <div class="col-md-12 padding-top-10 message-title"> 
    <div class="col-md-11 no-padding">
             呵呵呵
    </div> 
    <div class="col-md-1 no-padding">
     <a class="pull-right" id="colse_message"> &times; </a>
    </div> 
   </div> 
   <div class="col-md-12 padding-top-10 message-body"> 
    <div class="col-md-2 no-padding"> 
     <a href="" class="pull-left"><img alt="" src="../../assets/img/people/2.jpg" width="35px" /></a> 
    </div> 
    <div class="col-md-10 no-padding"> 
     <span class="left-span"></span> 
     <p class="left-p pull-left">你好！！！</p> 
    </div> 
    <div class="col-md-12 padding-top-10 message-body"> 
     <div class="col-md-10 no-padding"> 
      <span class="right-span"></span> 
      <p class="right-p pull-right">你好！！！ </p> 
     </div> 
     <div class="col-md-2 no-padding"> 
      <a href="" class="pull-right"><img alt="" src="../../assets/img/people/1.jpg" width="35px" /></a> 
     </div> 
    </div> 
   </div> 
   <div class="col-md-12 padding-top-10 message-footer"> 
    <div class="col-md-2 no-padding"> 
     <a href=""><img alt="" src="../../assets/img/people/1.jpg" width="35px" /></a> 
    </div> 
    <div class="col-md-10 form-group input-group no-padding"> 
     <input type="text" class="form-control" /> 
     <span class="input-group-btn"> <button class="btn btn-primary" type="button">发送</button> </span> 
    </div> 
   </div> 
  </div> 
  <!-- Global js END -->  
 </body>
</html>