<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
 <!-- Head BEGIN -->
 <head> 
  <title>蔚蓝树</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta content="width=device-width, initial-scale=1.0" name="viewport" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
  <meta content="weilanshu" name="description" /> 
  <meta content="weilanshu" name="keywords" /> 
  <meta content="chenrong" name="author" /> 
  <meta property="og:site_name" content="-CUSTOMER VALUE-" /> 
  <meta property="og:title" content="-CUSTOMER VALUE-" /> 
  <meta property="og:description" content="-CUSTOMER VALUE-" /> 
  <meta property="og:type" content="website" /> 
  <meta property="og:image" content="-CUSTOMER VALUE-" /> 
  <meta property="og:url" content="-CUSTOMER VALUE-" /> 
  <link rel="shortcut icon" href="../../assets/img/favicon.ico" /> 
  <!-- Global styles BEGIN --> 
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" /> 
  <link href="../../assets/css/font-awesome.min.css" rel="stylesheet" /> 
  <!-- Global styles END --> 
  <!-- Theme styles BEGIN --> 
  <link href="../../assets/css/components.css" rel="stylesheet" /> 
  <link href="../../assets/css/style.css" rel="stylesheet" /> 
  <link href="../../assets/css/plugins.css" rel="stylesheet" type="text/css" /> 
  <link href="../../assets/css/bootstrap-fileinput.css" rel="stylesheet" type="text/css" /> 
  <!-- Theme styles END --> 
 </head> 
 <!--DOC: menu-always-on-top class to the body element to set menu on top --> 
 <body class="menu-always-on-top"> 
  <!-- Header BEGIN --> 
  <div class="header header-mobi-ext"> 
   <div class="container"> 
    <div class="row"> 
     <!-- Logo BEGIN --> 
     <div class="col-md-2 col-sm-2"> 
      <a class="scroll site-logo" href="#promo-block"><img src="../../assets/img/logo/logo.png" alt="蔚蓝树" /></a> 
     </div> 
     <!-- Logo END --> 
     <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a> 
     <!-- Navigation BEGIN --> 
     <div class="col-md-10 pull-right"> 
      <ul class="header-navigation  pull-right font-transform-inherit"> 
       <li><a href="../../index.html">首页</a></li> 
       <li><a href="news.html">资讯</a></li> 
       <li><a href="geek.html">创客</a></li> 
       <li><a href="post-bar.html">创吧</a></li> 
       <li class="current"><a href="my-space.html">我的</a></li> 
       <li><a href="../../register.html" style="display: inline; font-size:15px;">注册</a> | <a href="../../login.html" style="display: inline; font-size:15px;">登录</a></li> 
      </ul> 
     </div> 
     <!-- Navigation END --> 
    </div> 
   </div> 
  </div> 
  <!-- Header END --> 
  <div class="weilanshu" id="base_content_container"> 
   <div class="title-wrapper" id="img_bg_space"> 
    <div class="container"> 
     <div class="container-inner"> 
      <em> <a data-toggle="modal" href="#edit_img"><img src="../../assets/img/people/1.jpg" alt="头像" title="点击修改头像" /></a> <p>RemRong <i class="fa fa-female"></i> <span class="badge bg-yellow-casablanca">Lv 8</span></p> <p style="font-size:14px">一句话介绍一下自己吧，让别人更了解你</p> <a href="#attention_me" data-toggle="modal" class="btn red"><i class="fa fa-plus"></i> 关注</a> <a href="#" class="btn red" id="send_message"><i class="fa fa-comment"></i> 私信</a> </em> 
     </div> 
    </div> 
   </div> 
   <div class="main"> 
    <div class="container"> 
     <!-- BEGIN SIDEBAR & CONTENT --> 
     <div class="row"> 
      <div class="product-page-content margin-bottom-20"> 
       <ul id="myTab" class="nav nav-tabs"> 
        <li class="active"><a href="#tab-1" data-toggle="tab">基本资料</a></li> 
        <li><a href="#tab-2" data-toggle="tab">作品</a></li> 
        <li><a href="#tab-3" data-toggle="tab">简历</a></li> 
        <li><a href="#tab-4" data-toggle="tab">关注</a></li>
       </ul> 
       <div id="myTabContent" class="tab-content"> 
        <div class="tab-pane fade row in active" id="tab-1"> 
         <div class="portlet light"> 
          <div class="portlet-title"> 
           <div class="caption caption-md"> 
            <i class="icon-bar-chart theme-font hide"></i> 
            <span class="caption-subject font-blue-madison bold uppercase">基本信息</span> 
           </div>
          </div> 
          <div class="portlet-body"> 
           <table class="datasheet"> 
            <tbody>
             <tr> 
              <td class="datasheet-features-type">昵称：</td> 
              <td class="datasheet-features-type2"> 流浪的风 </td> 
              <td class="datasheet-features-type">所在地：</td> 
              <td class="datasheet-features-type2"> 上海 </td> 
             </tr> 
             <tr>
			  <td class="datasheet-features-type">性别：</td> 
              <td class="datasheet-features-type2"> 男 </td> 
              <td class="datasheet-features-type">学校：</td> 
              <td class="datasheet-features-type2"> 上海交通大学 </td> 
             </tr> 
             <tr> 
              <td class="datasheet-features-type">年龄：</td> 
              <td class="datasheet-features-type2"> 25 </td> 
              <td class="datasheet-features-type">专业：</td> 
              <td class="datasheet-features-type2"> 计算机信息技术 </td> 
             </tr> 
             <tr> 
              <td class="datasheet-features-type">兴趣爱好：</td> 
              <td class="datasheet-features-type2"> 足球 </td> 
              <td class="datasheet-features-type">技能：</td> 
              <td class="datasheet-features-type2"> html, javascript </td> 
             </tr> 
             <tr> 
              <td class="datasheet-features-type">个性签名：</td> 
              <td class="datasheet-features-type2" colspan="3"> 一句话介绍一下自己吧，让别人更了解你 </td> 
             </tr> 
            </tbody>
           </table> 
          </div> 
         </div> 
        </div> 
        <div class="tab-pane fade row" id="tab-2"> 
         <!-- BEGIN article --> 
         <div class="portlet light"> 
          <div class="portlet-title"> 
           <div class="caption caption-md"> 
            <i class="icon-bar-chart theme-font hide"></i> 
            <span class="caption-subject font-blue-madison bold uppercase">已发布作品</span> 
            <span class="caption-helper">1个</span> 
           </div> 
          </div> 
          <div class="portlet-body"> 
           <!-- BEGIN PRODUCT LIST --> 
           <div class="row blogs-list margin-bottom-20"> 
            <div class="col-md-7 margin-bottom-20"> 
             <div class="blog-item col-md-12"> 
              <div class="col-md-12"> 
               <a href="" ><img class="blog-item-img" src="../../assets/img/people/1.jpg" /> <img class="blog-item-img-v" src="../../assets/img/vip.png" /></a> 
               <div class="blog-item-body col-md-10 margin-bottom-10"> 
                <div class="blog-item-body-title"> 
                 <div class="col-md-12"> 
                  <a class="blog-item-name" href="blog-info.html">考考你，这副“崇明美食牌”认识几个？</a> 
                  <span class="blog-item-time"><i class="fa fa-clock-o"></i> 1小时以前 来自#hhhh#</span> 
                 </div> 
                </div> 
                <div class="blog-item-body-info col-md-12"> 
                 <p>【考考你，这副“崇明美食牌”认识几个？】秋高气爽人气旺，橘黄蟹肥稻米香。金秋时节是崇明一年中最好的季节，闻名遐迩的崇明美食更是散发出了令人难以抵挡的诱惑！今天，崇明金秋美食节将拉开帷幕，活动持续一个月。寻找崇明生态美食之前，不妨先来看看这副牌你认识多少？尝过多少？最喜欢哪手牌？</p> 
                 <img src="../../assets/img/facts.jpg" width="300px" /> 
                </div> 
               </div> 
              </div> 
              <div class="col-md-12 blog-item-action"> 
               <div class="col-md-4"> 
                <span><a href="blog-info.html#comments"><i class="fa fa-comments"></i> 评论100</a></span> 
               </div> 
               <div class="col-md-4 line"> 
                <span><a><i class="fa fa-thumbs-up"></i> 点赞</a></span> 
               </div> 
               <div class="col-md-4"> 
                <span class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true" aria-expanded="false"><a><i class="fa fa-share-alt"></i> 分享</a></span> 
                <ul class="dropdown-menu" role="menu"> 
                 <li> <a href="javascript:;"> <i class="fa fa-wechat"></i> 微信 </a> </li> 
                 <li> <a href="javascript:;"> <i class="fa fa-weibo"></i> 新浪微博</a> </li> 
                 <li> <a href="javascript:;"> <i class="fa fa-qq"></i> QQ</a> </li> 
                 <li> <a href="javascript:;"> <i class="fa fa-star"></i> QQ空间 </a> </li> 
                </ul> 
               </div> 
              </div> 
             </div> 
            </div> 

            <div class="col-md-7 margin-bottom-20"> 
             <div class="blog-item col-md-12"> 
              <div class="col-md-12"> 
               <a href="" ><img class="blog-item-img" src="../../assets/img/people/4.jpg" /></a> 
               <div class="blog-item-body col-md-10 margin-bottom-10"> 
                <div class="blog-item-body-title"> 
                 <div class="col-md-11"> 
                  <a class="blog-item-name" target="_blank" href="#">考考你，这副“崇明美食牌”认识几个？</a> 
                  <span class="blog-item-time"><i class="fa fa-clock-o"></i> 1小时以前 来自#hhhh#</span> 
                 </div> 
                </div> 
                <div class="blog-item-body-info col-md-12"> 
                 <p>【考考你，这副“崇明美食牌”认识几个？】秋高气爽人气旺，橘黄蟹肥稻米香。金秋时节是崇明一年中最好的季节，闻名遐迩的崇明美食更是散发出了令人难以抵挡的诱惑！今天，崇明金秋美食节将拉开帷幕，活动持续一个月。寻找崇明生态美食之前，不妨先来看看这副牌你认识多少？尝过多少？最喜欢哪手牌？</p> 
                 <img src="../../assets/img/facts.jpg" width="300px" /> 
                </div> 
               </div> 
              </div> 
              <div class="col-md-12 blog-item-action"> 
               <div class="col-md-4"> 
                <span><a href="blog-info.html"><i class="fa fa-comments"></i> 评论50</a></span> 
               </div> 
               <div class="col-md-4 line"> 
                <span><a class="thumbs-up" id="thumbs_up"><i class="fa fa-thumbs-up"></i> 已点赞</a></span> 
               </div> 
               <div class="col-md-4"> 
                <span class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true" aria-expanded="false"><a><i class="fa fa-share-alt"></i> 分享</a></span> 
                <ul class="dropdown-menu" role="menu"> 
                 <li> <a href="javascript:;"> <i class="fa fa-wechat"></i> 微信 </a> </li> 
                 <li> <a href="javascript:;"> <i class="fa fa-weibo"></i> 新浪微博</a> </li> 
                 <li> <a href="javascript:;"> <i class="fa fa-qq"></i> QQ</a> </li> 
                 <li> <a href="javascript:;"> <i class="fa fa-star"></i> QQ空间 </a> </li> 
                </ul> 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
           <!-- END PRODUCT LIST --> 
          </div> 
         </div> 
        </div>
        <div class="tab-pane fade row" id="tab-3"> 
         <!-- BEGIN article --> 
         <div class="portlet light"> 
          <div class="portlet-body content-center"><i class="fa fa-exclamation-triangle"></i> 需要申请才能访问！   <a href="javascript:;" class="btn red"> 申请访问 </a></div>
        </div>
        </div>
        <div class="tab-pane fade row" id="tab-4"> 
         <!-- BEGIN ATTENTION --> 
         <div class="portlet light"> 
          <div class="portlet-title"> 
           <div class="caption caption-md"> 
            <i class="icon-bar-chart theme-font hide"></i> 
            <span class="caption-subject font-blue-madison bold uppercase">全部关注</span> 
            <span class="caption-helper">45个</span> 
           </div> 
           <div class="inputs"> 
            <div class="portlet-input input-inline input-small "> 
             <div class="input-icon right"> 
              <i class="fa fa-search"></i> 
              <input type="text" class="form-control form-control-solid" placeholder="搜索..." /> 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="portlet-body"> 
           <div class="row geeks-list margin-bottom-20"> 
            <div class="col-md-6 margin-bottom-20"> 
             <div class="geek-item col-md-12"> 
              <a href="my-space.html" class="col-md-2 pull-left padding-left-0"><img class="geek-item-img" src="../../assets/img/people/1.jpg" /> <img class="geek-item-img-v" src="../../assets/img/vip.png" /></a> 
              <p class="geek-item-content col-md-6"> <a class="geek-item-name" target="_blank" href="my-space.html">伊个小希</a> <span class="geek-item-score"><i class="fa fa-star"></i>51986</span> <span class="geek-item-desc">画画的！会继续努力！合作联系请私信！</span> </p> 
              <div class="geek-item-tags col-md-3"> 
               <span class="bgblue"> 宅男 </span> 
               <span class="bgyellow"> 宅男 </span> 
              </div> 
             </div> 
            </div> 
            <div class="col-md-6 margin-bottom-20"> 
             <div class="geek-item col-md-12"> 
              <a href="my-space.html" class="col-md-2 pull-left padding-left-0"><img class="geek-item-img" src="../../assets/img/people/2.jpg" /></a> 
              <p class="geek-item-content col-md-6"> <a class="geek-item-name" target="_blank" href="my-space.html">伊个小希</a> <span class="geek-item-score"><i class="fa fa-star"></i>51986</span> <span class="geek-item-desc">画画的！会继续努力！合作联系请私信！</span> </p> 
              <div class="geek-item-tags col-md-3"> 
               <span class="bggreen"> 宅男 </span> 
               <span class="bgred"> 宅男 </span> 
               <span class="bgblue"> 宅男 </span> 
              </div> 
             </div> 
            </div> 
            <div class="col-md-6 margin-bottom-20"> 
             <div class="geek-item col-md-12"> 
              <a href="my-space.html" class="col-md-2 pull-left padding-left-0"><img class="geek-item-img" src="../../assets/img/people/3.jpg" /></a> 
              <p class="geek-item-content col-md-6"> <a class="geek-item-name" target="_blank" href="my-space.html">伊个小希</a> <span class="geek-item-score"><i class="fa fa-star"></i>51986</span> <span class="geek-item-desc">画画的！会继续努力！合作联系请私信！</span> </p> 
              <div class="geek-item-tags col-md-3"> 
               <span class="bggreen"> 宅男 </span> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <!-- END ATTENTION --> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- END SIDEBAR & CONTENT --> 
    </div> 
   </div> 
   <!--edit_img--> 
   <div class="modal fade" id="edit_img" tabindex="-1" role="basic" aria-hidden="true"> 
    <div class="modal-dialog"> 
     <div class="modal-content"> 
      <div class="modal-header"> 
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button> 
       <h4 class="modal-title">修改头像</h4> 
      </div> 
      <div class="row modal-body"> 
       <div class="col-md-12 form-group "> 
        <label class="control-label col-md-3">选择图片</label> 
        <div class="col-md-9"> 
         <div class="fileinput fileinput-new" data-provides="fileinput"> 
          <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px; line-height: 150px;"> 
          </div> 
          <div> 
           <span class="btn default btn-file"> <span class="fileinput-new"> 选择图片 </span> <span class="fileinput-exists"> 更改 </span> <input type="hidden" /><input type="file" name="..." /> </span> 
           <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> 删除 </a> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div class="modal-footer"> 
       <button type="button" class="btn default" data-dismiss="modal">关闭</button> 
       <button type="button" class="btn blue">确定</button> 
      </div> 
     </div> 
     <!-- /.modal-content --> 
    </div> 
    <!-- /.modal-dialog --> 
   </div> 
   <!-- /.modal --> 
   <!--attention_me--> 
   <div class="modal fade" id="attention_me" tabindex="-1" role="basic" aria-hidden="true"> 
    <div class="modal-dialog"> 
     <div class="modal-content"> 
      <div class="modal-header"> 
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button> 
       <h4 class="modal-title">关注成功</h4> 
      </div> 
      <div class="modal-body"> 
       <i class="fa fa-check-circle-o" style="color:green; font-size:20px;padding:5px;"></i> 关注成功！ 
      </div> 
      <div class="modal-footer"> 
       <button type="button" class="btn default" data-dismiss="modal">关闭</button> 
      </div> 
     </div> 
     <!-- /.modal-content --> 
    </div> 
    <!-- /.modal-dialog --> 
   </div> 
   <!-- /.modal --> 
  </div> 
  <!-- BEGIN FOOTER --> 
  <div class="footer"> 
   <div class="container"> 
    <div class="row"> 
     <!-- BEGIN COPYRIGHT --> 
     <div class="col-md-6 col-sm-6"> 
      <div class="pull-left copyright">
       2016 &copy; 蔚蓝树. ALL Rights Reserved.
      </div> 
     </div> 
     <!-- END COPYRIGHT --> 
     <!-- BEGIN SOCIAL ICONS --> 
     <div class="col-md-6 col-sm-6"> 
      <div class="pull-right copyright"> 
       <a href="javascript:void(0);">免责</a> 
       <span>|</span> 
       <a href="javascript:void(0);">关于我们</a> 
       <span>|</span> 
       <a href="javascript:void(0);">联系我们</a> 
      </div> 
     </div> 
     <!-- END SOCIAL ICONS --> 
    </div> 
   </div> 
  </div> 
  <!-- END FOOTER --> 
  <!--send_message--> 
  <div class="send-message" style="display:none;" id="send-message"> 
   <div class="col-md-12 padding-top-10 message-title"> 
    <div class="col-md-11 no-padding">
     呵呵呵
    </div> 
    <div class="col-md-1 no-padding">
     <a class="pull-right" id="colse_message"> &times; </a>
    </div> 
   </div> 
   <div class="col-md-12 padding-top-10 message-body"> 
    <div class="col-md-2 no-padding"> 
     <a href="" class="pull-left"><img alt="" src="../../assets/img/people/2.jpg" width="35px" /></a> 
    </div> 
    <div class="col-md-10 no-padding"> 
     <span class="left-span"></span> 
     <p class="left-p pull-left">你好！！！</p> 
    </div> 
    <div class="col-md-12 padding-top-10 message-body"> 
     <div class="col-md-10 no-padding"> 
      <span class="right-span"></span> 
      <p class="right-p pull-right">你好！！！ </p> 
     </div> 
     <div class="col-md-2 no-padding"> 
      <a href="" class="pull-right"><img alt="" src="../../assets/img/people/1.jpg" width="35px" /></a> 
     </div> 
    </div> 
   </div> 
   <div class="col-md-12 padding-top-10 message-footer"> 
    <div class="col-md-2 no-padding"> 
     <a href=""><img alt="" src="../../assets/img/people/1.jpg" width="35px" /></a> 
    </div> 
    <div class="col-md-10 form-group input-group no-padding"> 
     <input type="text" class="form-control" /> 
     <span class="input-group-btn"> <button class="btn btn-primary" type="button">发送</button> </span> 
    </div> 
   </div> 
  </div> 
  <a href="#base_content_container" class="go2top scroll"><i class="fa fa-arrow-up"></i></a> 
  <!--[if lt IE 9]>
  <script src="../../assets/global/plugins/respond.min.js"></script>
  <![endif]--> 
  <!-- Load JavaScripts at the bottom, because it will reduce page load time --> 
  <!-- Core plugins BEGIN (For ALL pages) --> 
  <script src="../../assets/../../assets/js/jquery.min.js" type="text/javascript"></script> 
  <script src="../../assets/js/jquery-migrate.min.js" type="text/javascript"></script> 
  <script src="../../assets/js/bootstrap.min.js" type="text/javascript"></script> 
  <!-- Core plugins END (For ALL pages) --> 
  <!-- Core plugins BEGIN (required only for current page) --> 
  <script src="../../assets/js/jquery.nav.js"></script> 
  <!-- Core plugins END (required only for current page) --> 
  <script src="../../assets/js/bootstrap-hover-dropdown.min.js" type="text/javascript"></script> 
  <script src="../../assets/js/jquery.slimscroll.min.js" type="text/javascript"></script> 
  <script src="../../assets/js/jquery.uniform.min.js" type="text/javascript"></script> 
  <script type="text/javascript" src="../../assets/js/bootstrap-fileinput.js"></script> 
  <script type="text/javascript" src="../../assets/js/jquery.mockjax.js"></script> 
  <!-- Global js BEGIN --> 
  <script src="../../assets/js/metronic.js" type="text/javascript"></script> 
  <script src="../../assets/js/demo.js" type="text/javascript"></script> 
  <script src="../../assets/js/layout.js" type="text/javascript"></script> 
  <script src="../../assets/js/common.js"></script> 
  <script>
    $(document).ready(function() {
      Metronic.init(); // init metronic core components
      Layout.init(); // init current layout
      Demo.init(); // init demo features
	  CommonObj.init();
    });
  </script> 
  <!-- Global js END -->  
 </body>
</html>